name: Benchmark

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

concurrency: benchmark_pr

jobs:
  bench:

    runs-on: windows-latest

    steps:
    - name: Disable Windows Defender
      run: Set-MpPreference -DisableRealtimeMonitoring $true
      shell: powershell
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Clone splitasm repo
      uses: actions/checkout@v3
      with:
        repository: bitfaster/splitasm
        path: splitasm
        ref: ''
    - name: Build split asm
      run: dotnet build splitasm --configuration Release
    - name: Benchmark
      run: dotnet run --project "BitFaster.Caching.Benchmarks" -f net6.0 -c Release --filter *Lru*
    - name: Post process disassembly
      run: splitasm\splitasm\bin\Release\net6.0\splitasm.exe %GITHUB_WORKSPACE%\BenchmarkDotNet.Artifacts\results
      shell: cmd
    - name: Publish Results
      uses: actions/upload-artifact@v3
      with:
        name: Benchmark Artifacts (Windows)
        path: BenchmarkDotNet.Artifacts

  bench-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Benchmark
      run: dotnet run --project "BitFaster.Caching.Benchmarks" -f net6.0 -c Release --filter '*'
    - name: Publish Results
      uses: actions/upload-artifact@v3
      with:
        name: Benchmark Artifacts (Linux)
        path: BenchmarkDotNet.Artifacts

  bench-macos:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Benchmark
      run: dotnet run --project "BitFaster.Caching.Benchmarks" -f net6.0 -c Release --filter '*'
    - name: Publish Results
      uses: actions/upload-artifact@v3
      with:
        name: Benchmark Artifacts (MacOs)
        path: BenchmarkDotNet.Artifacts