name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  win:

    runs-on: windows-latest

    permissions:
      checks: write

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: |
          3.1.x
          6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test (4.8)
      run: dotnet test --no-restore --verbosity normal -f net48 --logger "trx;LogFileName=results4.trx"
    - name: Generate unit test report (4.8)
      uses: phoenix-actions/test-reporting@v11
      id: unit-test-report-win48
      if: success() || failure() 
      with:
        name: test results (win net4.8)
        path: BitFaster.Caching.UnitTests/TestResults/results4.trx
        reporter: dotnet-trx 
        only-summary: 'true'
    
    - name: Test (3.1)
      run: dotnet test --no-restore --verbosity normal -f netcoreapp3.1 /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov --logger "trx;LogFileName=results3.trx"
    - name: Generate unit test report (3.1)
      uses: phoenix-actions/test-reporting@v11
      id: unit-test-report-win3
      if: success() || failure() 
      with:
        name: test results (win net3.1)
        path: BitFaster.Caching.UnitTests/TestResults/results3.trx
        reporter: dotnet-trx 
        only-summary: 'true'
    - name: Publish coverage report to coveralls.io (3.1)
      uses: coverallsapp/github-action@master   
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: BitFaster.Caching.UnitTests/TestResults/coverage.netcoreapp3.1.info
        flag-name: win3
        parallel: true

    - name: Test (6.0)
      run: dotnet test --no-restore --verbosity normal -f net6.0 /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov --logger "trx;LogFileName=results6.trx"
    - name: Generate unit test report (6.0)
      uses: phoenix-actions/test-reporting@v11
      id: unit-test-report-win6
      if: success() || failure() 
      with:
        name: test results (win net6.0)
        path: BitFaster.Caching.UnitTests/TestResults/results6.trx
        reporter: dotnet-trx 
        only-summary: 'true'
    - name: Publish coverage report to coveralls.io (6.0)
      uses: coverallsapp/github-action@master   
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: BitFaster.Caching.UnitTests/TestResults/coverage.net6.0.info
        flag-name: win6
        parallel: true

    - name: Publish NuGet artifacts
      uses: actions/upload-artifact@v3
      with:
        name: NuGet package
        path: BitFaster.Caching/bin/Release/

  mac:

    runs-on: macos-latest

    permissions:
      checks: write

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal -f net6.0 /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov --logger "trx;LogFileName=results.trx"
    - name: Publish coverage report to coveralls.io   
      uses: coverallsapp/github-action@master   
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: BitFaster.Caching.UnitTests/TestResults/coverage.net6.0.info
        flag-name: mac
        parallel: true
    - name: Generate unit test report
      uses: phoenix-actions/test-reporting@v11
      id: unit-test-report-mac
      if: success() || failure() 
      with:
        name: test results (mac net6.0)
        path: BitFaster.Caching.UnitTests/TestResults/results.trx
        reporter: dotnet-trx 
        only-summary: 'true'

  coverage:

    needs: [win, mac]
    
    runs-on: ubuntu-latest
    
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true