name: CI (win)

on:
  push:
    paths-ignore: [ '**.md' ]
    branches: [ main ]
  pull_request:
    paths-ignore: [ '**.md' ]
    branches: [ main ]

jobs:
  buildwin:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov --logger "trx;LogFileName=results.trx"
    - name: Publish NuGet artifacts
      uses: actions/upload-artifact@v3
      with:
        name: NuGet package
        path: BitFaster.Caching/bin/Release/
    - name: Publish coverage report to coveralls.io   
      uses: coverallsapp/github-action@master   
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: BitFaster.Caching.UnitTests/TestResults/coverage.info
        flag-name: win
        parallel: true
    - name: Generate unit test report
      uses: phoenix-actions/test-reporting@v8
      id: unit-test-report-win
      if: success() || failure() 
      with:
        name: test results (win)
        path: BitFaster.Caching.UnitTests/TestResults/results.trx
        reporter: dotnet-trx 
        only-summary: 'true'

  buildmac:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal /p:CollectCoverage=true /p:CoverletOutput=TestResults/ /p:CoverletOutputFormat=lcov --logger "trx;LogFileName=results.trx"
    - name: Publish coverage report to coveralls.io   
      uses: coverallsapp/github-action@master   
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }} 
        path-to-lcov: BitFaster.Caching.UnitTests/TestResults/coverage.info
        flag-name: mac
        parallel: true
    - name: Generate unit test report
      uses: phoenix-actions/test-reporting@v8
      id: unit-test-report-mac
      if: success() || failure() 
      with:
        name: test results (mac)
        path: BitFaster.Caching.UnitTests/TestResults/results.trx
        reporter: dotnet-trx 
        only-summary: 'true'

  finish:
    needs: [buildwin, buildmac]
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.github_token }}
        parallel-finished: true

