name: Infer

on:
  push:
    paths-ignore: [ '**.md' ]
    branches: [ main ]
  pull_request:
    paths-ignore: [ '**.md' ]
    branches: [ main ]

jobs:
  infer:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Run Infer#      
      uses: microsoft/infersharpaction@v1.4
      id: runinfersharp
      with:
        binary-path: BitFaster.Caching/bin

    - name: Upload SARIF output to GitHub Security Center
      uses: github/codeql-action/upload-sarif@v2
      with:
        sarif_file: infer-out/report.sarif